<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto Mecom | Conselhos</title>
</head>
{% extends 'automecom/layout.html' %}

{% block main %}
{% load static %}
<body>
    <div class="title2">Conselhos</div>

    <div class="cabeçalho1"></div>

    <div class="textoM">
        <h2>Dicas para uma condução segura durante o Inverno</h2><br>
        <p>Aqui, poderá encontrar as melhores dicas para conduzir no Inverno de forma mais segura.</p>
    </div>

    <div class="cabeçalho2"></div>

    <div class="textoM">
        <h2>Dicas para Poupar Combustível</h2><br>
        <p>Com os preços da gasolina e do gasóleo acima dos 2€/ litro, todos estamos a fazer contas à vida. Trazemos-lhe 9 dicas para poupar combustível</p>
    </div>

    <div class="cabeçalho4"></div>

    <div class="textoM">
        <h2>Mudança de Óleo: dicas para trocar o óleo do carro</h2><br>
        <p>Consulte as dicas que temos para si sobre a mudança de óleo do carro.</p>
    </div>
    <div class="cabeçalho3"></div>
    
    <div class="textoM">
        <h2>Conheça as 10 coisas que deve verificar antes de viajar!</h2><br>
        <p>Encontre aqui as 10 dicas ideais para planear a sua viagem de carro com tranquilidade.</p>
    </div>
<br>
</body>
</html>
{% endblock %}