<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Auto Mecom | Contactos</title>
</head>
{% extends 'automecom/layout.html' %}

{% block main %}
{% load static %}
<div class="contactos">
    <div class="containerrr">
        <div class="texttt">
            <h1>Auto Mecom</h1>
<br>
            <div>
            <h3>Oficina horário</h3>
                <br>
            <ul class="horario">
                <li>Seg  09:00 a 18:00</li>
                <li>Ter  09:00 a 18:00</li>
                <li>Qua  09:00 a 18:00</li>
                <li>Qui  09:00 a 18:00</li>
                <li>Sex  09:00 a 18:00</li>
                <li>Sab  Encerrado</li>
                <li>Dom  Encerrado</li>
            </ul>
        </div>
        <div>
            <br>
            <br>
            <p>
            Estr. Manuel Correia Lopes 576<br>
            2785-543 São Domingos de Rana
            </p>
        </div>
        <div class="contact-info">
            <p>Tel. 21 445 1746</p>
        </div>
        <div class="contact-info">
            <p>E-mail. geral@automecom.com</p>
        </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12449.948005096685!2d-9.3224715!3d38.7295854!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecee2af2d6dd1%3A0xbca453df95bf3380!2sAuto%20Mecom%20Unipessoal%2C%20Lda!5e0!3m2!1spt-PT!2spt!4v1697317659783!5m2!1spt-PT!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
{% endblock %}