{% extends 'automecom/layout.html' %}

{% block main %}
{% load static %}
    <img id="mecanico" src="{% static 'automecom/images/mecanico.png' %}"  alt="mechanic">
    <br>
    <h1>Oficina Auto Mecom</h1>
    <br>
    <br>
    <p>Bem-vindo(a) ao nosso website! Estamos felizes por ter<br> você aqui. Navegue pelas nossas páginas e descubra<br> todos os produtos e serviços que temos a oferecer.</p>
<br><br>
    <br>
    <br>
    <button>Marcação</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h3>SOMOS O FUTURO DA REPARAÇÃO AUTOMÓVEL</h3>


{% endblock %}

