{% load custom_tags %}
<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Auto Mecom </title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'automecom/css/estilos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    {% block styles %}
    
    {% endblock %}
    
    <meta charset="UTF-8">
</head>


<body>
  <header>
      <nav class="logo"><a class="textmenu" href="home.html">AUTO MECOM</a></nav>
    <nav class="textmenu">
        <a href="sobre.html">OFICINA</a>
        <a href="servico.html">SERVIÇOS</a>
        <a href="conselhos.html">CONSELHOS</a>
        <a href="contactos.html">CONTACTOS</a>
        <a href="marcacao">MARCAÇÃO</a>
        {% if not request.user.is_authenticated %}
                <a href="login.html">A MINHA CONTA</a>
        {% endif %}
        <div class="subnav">
        {% if request.user.is_authenticated %}
            <a class="subnavbtn">{{ user.username }}<i class="fa fa-caret-down"></i></a>
                <div class="subnav-content">
                    <a href="perfil.html">Perfil</a>
                    {% if user|is_administrador %}
                        <a href="marcacoes">Lista de marcações</a>
                        {% else %}
                        <a href="marcacoes">Marcações</a>
                    {% endif %}
                    <a href="obras.html">Obras Realizadas</a>
                    <a href="logout">Terminar sessão</a>
                </div>
        {% endif %}
        </div>
    </nav>
  </header>
  <div class="espace"></div>

  <main>
  <div class="conteudo">
      {% block main %}
      {% endblock main %}
  </div>

    <footer>
      <div class="creditos">
          <div class="container">
              <div class="leftsubmenu">
                  <div>
                      <ul class="sub-menu">
                          <p>2023 © AutoMecom</p>
                          <br>
                            <li><a href="privacidade.html">Política de Privacidade</a></li>

                            <li><a href="garantia.html">Regulamento da Garantia na Manutenção Auto</a></li>
                      </ul>
                  </div>
              </div>
              <div class="rightsubmenu">
                  <p>Siga-nos em:</p>
                  <div class="social">
                      <a><a href="//www.instagram.com/automecom/" target="_blank"><i class="fa fa-instagram" style="font-size:25px;"></i></a></a>
                      <a><a href="" target="_blank"><i class="fa fa-facebook" style="font-size:25px;"></i></a></a>
                      <a><a href="" target="_blank"><i class="fa fa-linkedin" style="font-size:25px;"></i></a></a>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  </main>

</body>
</html>