<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto Mecom | Marcações</title>
</head>

{% extends 'automecom/layout.html' %}
{% load custom_tags %}

{% block main %}
{% load static %}

<body>
<section>
{% for marcacao in marcacoes %}
    {% if marcacao.estado != "Terminado" %}
    <div class="Serv{% if user|is_administrador %} administrador{% endif %}">
        <div>
            <br>
            {% if user|is_administrador %}
            <p>Cliente: {{marcacao.nome}} {{marcacao.apelido}}</p>
            {% for servico in marcacao.servicos.all %}
            <p>Serviço(s): {{ servico.nome }}</p>
            {% endfor %}
            <p>Data: {{marcacao.data}} / {{marcacao.hora}}h</p>
            {% if marcacao.orcamento %}
            <p>Orçamento: <a href="{{ marcacao.orcamento.url }}" target="_blank">Ver Orçamento</a></p>
            {% else %}
            <p>Nenhum orçamento associado a esta obra.</p>
            {% endif %}
            <p>Estado: {{marcacao.estado}}</p>
            {% else %}
            <p>Data: {{marcacao.data}}</p><p>Hora: {{marcacao.hora}}h</p>
            {% for servico in marcacao.servicos.all %}
            <p>Serviço(s): {{ servico.nome }}</p>
            {% endfor %}
            {% if marcacao.orcamento %}
            <p>Orçamento: <a href="{{ marcacao.orcamento.url }}" target="_blank">Ver Orçamento</a></p>
            {% else %}
            <p>Nenhum orçamento associado a esta obra.</p>
            {% endif %}
            <p>Estado: {{marcacao.estado}}</p>
            {% endif %}
            <br>
        </div>
    </div>
    {% if user|is_administrador %}
    <a href="{% url 'automecom:editarmarc' marcacao.id %}" class="botao">Editar</a>
    <a href="{% url 'automecom:apagarmarc' marcacao.id %}" class="botao">Apagar</a>
    {% else %}
    <a href="{% url 'automecom:editarmarc' marcacao.id %}" class="botao">Alterar</a>
    <a href="{% url 'automecom:apagarmarc' marcacao.id %}" class="botao">Cancelar</a>
    {% endif %}
    <br>
    {% endif %}
{% endfor %}
</section>

</body>
</html>
{% endblock %}