
{% extends 'automecom/layout.html' %}
{% load custom_tags %}

    {% block styles %}
        <style>
        th {
            text-align:right;
        }
        td {
            width: 100%;
        }
        </style>

    {% endblock %}

{% block main %}
{% load static %}
<div class="containermarc">
<div class="marcacoes-container">
    <form action="{% url 'automecom:Marcação' %}" method="post">
        {% csrf_token %}
        <div class="marcacao">
            <h2>Marcação</h2><br>
            <table>
                {{ form }}
            </table>
        </div>

        <div class="marcacao">
            <br>
            <h2>Veículo</h2>
            <br>
            <table>
                {{ form2 }}
            </table>
        </div>
        <bR>

        <button class="buttonmarc" type="submit">Marcar</button>
    </form>
</div>
</div>
{% endblock %}