<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto Mecom | Obras </title>
</head>

{% extends 'automecom/layout.html' %}
{% load custom_tags %}

{% block main %}
{% load static %}

<body>
{% if user|is_administrador %}
<p>Obras Realizadas</p>
{% else %}
<p>Suas Obras Realizadas</p>
{% endif %}

<section>
{% for marcacao in marcacoes %}
    <div class="Serv">
        <div>
            <br>
            {% if user|is_administrador %}
            <p>{{marcacao.nome}} {{marcacao.apelido}}</p>
            <p>{{marcacao.veiculo}}</p>
            {% for servico in marcacao.servicos.all %}
            <p>{{ servico.nome }}</p>
            {% endfor %}
            <p>{{marcacao.data}} / {{marcacao.hora}}</p>
            <p>{{ marcacao.observacoes }}</p>
            <p>{{marcacao.estado}}</p>
                {% if marcacao.fatura %}
                    <p>FATURA: <a href="{{ marcacao.fatura.url }}" target="_blank">Ver Fatura</a></p>
                {% else %}
                    <p>Nenhuma fatura associada a esta marcação.</p>
                {% endif %}
            {% else %}
            <p>VEICULO : {{marcacao.veiculo}}</p>
            <p>DATA DA OBRA : {{marcacao.data}}</p>
            <p>OBSERVAÇÕES : {{ marcacao.observacoes }}</p>
                {% if marcacao.fatura %}
                    <p><a href="{{ marcacao.fatura.url }}" target="_blank">Ver Fatura</a></p>
                {% else %}
                    <p>Nenhuma fatura associada a esta marcação.</p>
                {% endif %}
            {% endif %}
            <br>
        </div>
    </div>
    {% if user|is_administrador %}
    <a href="{% url 'automecom:editarmarc' marcacao.id %}" class="botao">Editar</a>
    <a href="{% url 'automecom:apagarmarc' marcacao.id %}" class="botao">Apagar</a>
    {% else %}
    <a href="{% url 'automecom:apagarmarc' marcacao.id %}" class="botao">Apagar</a>
    {% endif %}
    <br>
{% endfor %}
</section>

</body>
</html>
{% endblock %}