* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}

header {
  height: 10vh;
  background: rgb(10, 20, 47);
  color: white;
  top: 0;

  /* alinha logo e menu */
  display:flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display:flex;
  justify-content: flex-end;
}

nav a {
  padding: 0 4em;
  text-decoration: none;
  font-size: 1rem;
  color: lightgray;
  overflow: hidden;
  height: 100%;
}

.subnav {
  position: relative;
  display: inline-block;
}

.subnavbtn {
  text-decoration: none;
  font-size: 1rem;
  color: lightgray;
  overflow: hidden;
  height: 100%;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.subnav-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.subnav-content a:hover {
  background-color: #0A142FFF;
  color: lightgray;
}

.subnav:hover .subnav-content {
  display: block;
}

.subnav:hover .subnavbtn {
  background-color: white;
  color: #0A142FFF;
}

main {
  height: 85vh;
  background-color:white;
  padding: 4em 4em;
}

button {
  background: rgb(10, 20, 47);
  border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 16%;
}

#mecanico{
  float:right;
}

.entrada{
  font-size: 22px;
}

.botao{
  background-color: #0A142FFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px #0A142FFF;
}

.outro{
text-align: center;
padding: 20px;
}

footer {
  height:5vh;
  display:flex;
  justify-content: flex-end;
  padding: 0 2vw;
  align-items: center;
}

