* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}

header {
  height: 10vh;
  background: rgb(10, 20, 47);
  color: white;
  top: 0;
  z-index: 1000;
  position: fixed;
  /* alinha logo e menu */
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%
}

.espace{
    height: 10vh;
    width:100%
}

header nav {
  display:flex;
  justify-content: flex-end;
}

nav {
  height: 100%;
}

nav a {
  padding: 0 3em;
  text-decoration: none;
  font-size: 1rem;
  color: lightgray;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subnav a {
  padding: 0 4em;
  text-decoration: none;
  font-size: 1rem;
  color: lightgray;
  overflow: hidden;
  height: 100%;
}


.subnav {
  position: relative;
  display: inline-block;
}

.subnavbtn {
  text-decoration: none;
  font-size: 1rem;
  color: lightgray;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subnav-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -22px;
  margin-left: 10px;
  margin-right: 10px;
}

.subnav-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.subnav-content a:hover {
  background-color: #0A142FFF;
  color: lightgray;
}

.subnav:hover .subnav-content {
  display: block;
}

.subnav:hover .subnavbtn {
}

main {
  height: 85vh;
  background-color:white;
}

.conteudo {
    padding: 4em 4em;
    min-height: 100%;
}

button {
  background: rgb(10, 20, 47);
  border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 16%;
}

#mecanico{
  float:right;
}

.entrada{
  font-size: 22px;
}

.botao{
  background-color: #0A142FFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px #0A142FFF;
}

.outro{
text-align: center;
padding: 20px;
}

footer {
   height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #0A142FFF;
  color: white;
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
}

footer .creditos {
    background: #0A142FFF;
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.24px;
    color: #ffffff;
    padding: 50px 0;
}

footer .creditos .container {
    display: flex;
    flex-wrap: wrap;
}

.container, .container-fluid {
    position: relative;
    width: 100%;
    padding: 0 20px;
}

.leftsubmenu {
    display: flex;
}

footer .creditos .container div {
    text-align: right;
}

footer .rightsubmenu {
    color: white;
    font-size: 12px;
}

.leftsubmenu{
    padding-left: 180px;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

footer ul {
    padding-left: 180px;
    list-style: none;
    text-align: left;
}

footer .creditos a{
    color:#B5B5B9;
}

footer .creditos a:hover{
    transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    text-decoration: none;
    cursor: pointer;
    color: currentColor;
}

footer .creditos ul {
    font-size: 12px;
}

.sub-menu a {
    color: white;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

footer .social {
    font-size: 0;
    padding: 5px 0;
    text-align: right;
}

.fa{
    padding: 3px;
}



.Serviços {
    padding-left: 210px;
    padding-right: 210px;
}

.Serviços h2{
    font-size: 1.875rem;
    font-weight: 800;
    color: black;
    font-style: italic;
    line-height: inherit;
    margin: 0.75em 0;
    text-transform: uppercase;
}

.SMALL{
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.56;
    color: #5d5c5c;
    margin: 1em 0;
}

.BIG {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    font-style: normal;
    color:black;
    line-height: 1.75;
    padding: 0.5em 0 0.5em 40px;
    position: relative;
}